body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary {
    color: aquamarine;
    font-weight: 300;
    font-size: 42px;
}

.header-sub-header {
    font-size: 21px;
    color: gray;
}


/* LINKS */

.link--cta {
    font-size: 16px;
    color: aquamarine;
}